Цель: реализовать программный эмулятор работы лифта с элементами ручного управления.

Функциональные требования:

1. Предоставить пользователю возможность, устаналивая настройки, производить подключение и отключение к/от серверу(а) обеспечивающего управление лифтом (запущен демон);

2. Отобразить название на кнопке подключения/отключения:
	- "Connect", если подключение не активно (не состоялось, разорвано пользователем или утрачено в результате сбоя вне зависимости от причины);
	- "Disconnect", если подключение активно.

3. Предоставить возможность задать следующие параметры работы лифта:
	- Number of floors;
	- Elevator's movement strategy;
	- Max weight, kg.;
	- Min weight, kg.;
	- Non stop weight, kg.;
	- Weight generation interval, sec.

4. Отрисовать/убрать макет по желанию пользователя, включающий:
	- положение лифта на этаже;
	- открытые/закрытые двери на каждом этаже;
	- номер этажа;
	- кнопки вызова лифта на этаже;
	- индикатор (с возможностью ручной корректировки) пассажиры/груз на этаже (в кг.);
	- панель управления лифтом:
		- индикатор текущего этажа;
		- кнопки этажей;
		- открыть двери;
		- закрыть двери;
		- индикатор загрузки лифта;

5. Автоматически генерировать грузопоток каждые Weight generation interval, sec., если лифт не на этаже вызывать лифт, "нажимая" кнопку вызова. Если лифт на этаже с открытыми дверьми, то загружать лифт.

6. Отображать на соотвествующем индикаторе панели управления лифтом текущий этаж;

7. Отображать на соответствующем индикаторе текущую загрузку лифта
	- если загрузка < Min weight, kg., то шрифт синий, не жирный
	- если Min weight, kg. < загрузка < Max weight, kg., то шрифт синий, жирный
	- если загрузка > Max weight, kg., то шрифт красный, жирный

8. Реализовать возможность открыть двери лифта изнутри, нажав кнопку "Open", вне зависимости от текущей загрузки (сломался индикатор, остались люди);

9. Реализовать возможность закрыть двери лифта. Данную функцию заблокировать (со стороны сервера), если:
	- загрузка лифта > Max weight, kg.
	- загрузка лифта > Min weight, kg., не выбран ни один этаж на панели управления лифтом;

10. Все пассажиры "ожидающие" лифт после открытия дверей попадают в него;

11. "Выходят" пассажиры пропорционально количеству "нажатых" этажей на панели управления лифтом, на последнем этаже выходят все. После выхода пассажиров, двери оставить открытыми;

12. Заблокировать (сбрасывать со стороны сервера) выбор этажа, если загрузка лифта < Min weight, kg.;

13. Если вызов лифта на этаже нажат, то заблокировать (сбрасывать со стороны сервера) отмену вызова;

14. Реализовать следующие стратегии движения лифта:
	- Dictator:
		- подавать по вызову, на самый высокий этаж;
		- вне зависимости от направления движения (вверх или вниз) пассажиров не подбирать, исключение пассажиры в лифте выбрали этаж на котором уже вызвали лифт;
		- после остановки на этаже, продолжить движение, если остались пассажиры, можно нажав на кнопку "Close" панели управления лифтом.

	- Citizen:
		аналогичен "Dictator", за исключением - если загрузка лифта < Non stop weight, kg., то по ходу движения вниз подбирать пассажиров с этажей на которых был вызван лифт.

15. Логировать (клиет и сервер) входящия/исходящие сообщения, системные события и исключения в консоль.

Системные требования:
1. Серверная часть - демон, php > 5.6, запуск из консоли;
2. Клиентская часть - web-браузер, Chrome
3. Взаимодействие - протокол WAMP, https://en.wikipedia.org/wiki/Web_Application_Messaging_Protocol